<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Load-road-network-data-from-datasets-module" data-toc-modified-id="Load-road-network-data-from-datasets-module-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Load road network data from <code>datasets</code> module</a></span></li><li><span><a href="#Create-a-RoadwayNetworkGraph-object" data-toc-modified-id="Create-a-RoadwayNetworkGraph-object-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Create a <code>RoadwayNetworkGraph</code> object</a></span></li><li><span><a href="#Create-and-run-a-LongHaulScenario" data-toc-modified-id="Create-and-run-a-LongHaulScenario-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Create and run a <code>LongHaulScenario</code></a></span><ul class="toc-item"><li><span><a href="#Construct-a-LongHaulScenario-instance" data-toc-modified-id="Construct-a-LongHaulScenario-instance-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Construct a <code>LongHaulScenario</code> instance</a></span></li><li><span><a href="#Run-the-scenario-and-check-outputs" data-toc-modified-id="Run-the-scenario-and-check-outputs-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Run the scenario and check outputs</a></span></li><li><span><a href="#Run-the-scenario-by-calling-the-.run()-method" data-toc-modified-id="Run-the-scenario-by-calling-the-.run()-method-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Run the scenario by calling the <code>.run()</code> method</a></span></li><li><span><a href="#Stats-about-this-scenario" data-toc-modified-id="Stats-about-this-scenario-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Stats about this scenario</a></span></li></ul></li><li><span><a href="#Create-and-run-a-LongHaulScenarioSet" data-toc-modified-id="Create-and-run-a-LongHaulScenarioSet-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Create and run a <code>LongHaulScenarioSet</code></a></span><ul class="toc-item"><li><span><a href="#Create-a-paramtable" data-toc-modified-id="Create-a-paramtable-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Create a <code>paramtable</code></a></span></li><li><span><a href="#Create-a-LongHaulScenarioSet" data-toc-modified-id="Create-a-LongHaulScenarioSet-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Create a <code>LongHaulScenarioSet</code></a></span></li><li><span><a href="#Run-a-LongHaulScenarioSet" data-toc-modified-id="Run-a-LongHaulScenarioSet-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Run a <code>LongHaulScenarioSet</code></a></span><ul class="toc-item"><li><span><a href="#Run-a-scenario-set-simply-by-calling-its-.run()-method." data-toc-modified-id="Run-a-scenario-set-simply-by-calling-its-.run()-method.-4.3.1"><span class="toc-item-num">4.3.1&nbsp;&nbsp;</span>Run a scenario set simply by calling its <code>.run()</code> method.</a></span></li><li><span><a href="#View-statistics-each-describing-a-scenario:" data-toc-modified-id="View-statistics-each-describing-a-scenario:-4.3.2"><span class="toc-item-num">4.3.2&nbsp;&nbsp;</span>View statistics each describing a scenario:</a></span></li><li><span><a href="#View-statistics-each-describing-one-refueling-locaiton-under-one-scenario:" data-toc-modified-id="View-statistics-each-describing-one-refueling-locaiton-under-one-scenario:-4.3.3"><span class="toc-item-num">4.3.3&nbsp;&nbsp;</span>View statistics each describing one refueling locaiton under one scenario:</a></span></li></ul></li></ul></li></ul></div>

## Load road network data from `datasets` module

The `calroads` dataset is a graph representation of California's major highways.  
It consists of:
- `nodes`
- `arcs`
- `routes`: origins and destinations of vehicle travel routes, along with travel volumes on these routes.

In [1]:
from chipmdhd.datasets.calroads import nodes, arcs, routes

In [2]:
nodes.head()

   node_id  node_name         lon        lat  OD
0        1    Redding -122.360642  40.585450   1
1        2  Red Bluff -122.224084  40.179209   1
2        3   Dunnigan -121.953458  38.860841   0
3        4   Woodland -121.755159  38.689872   0
4        5        SMF -121.593640  38.671090   1

In [3]:
arcs.head()

   arc_id  from_node_id  to_node_id  drive_dist_meters  drive_dist_km
0       1             1          76               9089              9
1       2            76          75              16778             17
2       3            75           2              21943             22
3       4             2          74              30458             30
4       5            74          73               2815              3

In [4]:
routes.head()

   route_id  orig_node_id  dest_node_id   volume  path_id
0         0            13            18  40940.5        0
1         1            18            13  40940.5        1
2         2            12            13   3447.5        2
3         3            12            18   3447.5        3
4         4            25            13    245.0        4

## Create a `RoadwayNetworkGraph` object

The `RoadwayNetworkGraph` class is a wrapper based on NetworkX's `Graph` class.  
It contains the dataframes of `nodes`, `arcs`, and `routes` in CHIP-MDHD's customized form, and also the `networkx.Graph` object.

In [5]:
from chipmdhd.longhaul import RoadwayNetworkGraph
roadnet = RoadwayNetworkGraph(nodes, arcs, routes)
print(roadnet.isDataComplete())
print(roadnet.isReady)

True
True

In [6]:
import networkx as nx
nx.draw_networkx(roadnet.graph)

The `RoadwayNetworkGraph` object also automatically calculates shortest paths for each route.

In [7]:
roadnet.paths.head()

   path_id  orig_node_id  dest_node_id  node_seq  node_id  dist_from_orig_km
0        0            13            18         0       13                0.0
1        0            13            18         1       18               25.0
2        1            18            13         0       18                0.0
3        1            18            13         1       13               25.0
4        2            12            13         0       12                0.0

## Create and run a `LongHaulScenario`
### Construct a `LongHaulScenario` instance

In [8]:
from chipmdhd.longhaul import LongHaulScenario

params = {
    'VEH_START_RANGE': 120, 
    'VEH_FULL_RANGE': 240, 
    'LH_FCEV_KMPKGH2': 15
}

s = LongHaulScenario(name='Test Scenario', roadnetwork=roadnet, params=params)
print(s._scenario_id, s._scenario_name)

1 Test Scenario

### Run the scenario and check outputs

### Run the scenario by calling the `.run()` method

In [9]:
s.run()

Academic license - for non-commercial use only
Optimize a model with 3332 rows, 75 columns and 20080 nonzeros
Variable types: 0 continuous, 75 integer (75 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [1e+00, 1e+00]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 1e+00]
Found heuristic solution: objective 16.0000000
Presolve removed 3332 rows and 75 columns
Presolve time: 0.00s
Presolve: All rows and columns removed

Explored 0 nodes (0 simplex iterations) in 0.01 seconds
Thread count was 1 (of 8 available processors)

Solution count 2: 13 16

Optimal solution found (tolerance 1.00e-04)
Best objective 1.300000000000e+01, best bound 1.300000000000e+01, gap 0.0000%

### Stats about this scenario

Which nodes are selected as refueling locations?

In [10]:
selected = s.chosen_hrs_node_id
print(f'{len(selected)} refueling locaitons selected:', selected)

13 refueling locaitons selected: [72, 11, 5, 17, 18, 19, 44, 51, 62, 67, 34, 33, 70]

How much fuel is dispensed at each refueling location?

In [11]:
s.dispensed_fuel_by_hrs

    hrs_node_id  dispensed_fuel_kg
0             5       7.638086e+05
1            11       5.099847e+04
2            17       6.819099e+05
3            18       1.281976e+06
4            19       1.561177e+05
5            33       8.249265e+05
6            34       2.520766e+06
7            44       9.874080e+04
8            51       3.800933e+04
9            62       3.646760e+04
10           67       1.148282e+05
11           70       1.864219e+05
12           72       9.390400e+03

How much fuel is dispensed throughout all HRS's?

In [12]:
s.allhrs_dispensed_fuel

6764361.044661754

How much fule is onboard (all) vehicles at the beginning & end of the simulation period?

In [13]:
print('On-vehicle fuel at simulation start:', s.allveh_start_fuel, 'kg')
print('On-vehicle fuel at simulation end:', s.allveh_end_fuel, 'kg')

On-vehicle fuel at simulation start: 10770144.000159118 kg
On-vehicle fuel at simulation end: 13647878.566950096 kg

## Create and run a `LongHaulScenarioSet`

When you want to run a set of `LongHaulScenario`s, you may use a `LongHaulScenarioSet` object, which helps you create and run multiple scenarios specified by a `paramtable`.

The `paramtable` is a `pandas.DataFram` with parameter names as column names, and parameter values in the table cells. Each row will lead to a `LongHaulScenario`.

For example:

### Create a `paramtable`

In [14]:
import pandas as pd
from itertools import product

paramranges = {
    'VEH_FULL_RANGE': [120, 200, 400, 800],
    'VEH_START_RANGE': [100],
    'LH_FCEV_KMPKGH2': [15]
}
paramtable = pd.DataFrame.from_records(data=product(*paramranges.values()), columns=paramranges.keys())
paramtable

   VEH_FULL_RANGE  VEH_START_RANGE  LH_FCEV_KMPKGH2
0             120              100               15
1             200              100               15
2             400              100               15
3             800              100               15

### Create a `LongHaulScenarioSet`

In [15]:
from chipmdhd.longhaul import LongHaulScenarioSet

ss = LongHaulScenarioSet(name='VaryingVehFullRange', roadnetwork=roadnet, paramtable=paramtable)

Before running the scenario set, you can view its param table by accessing its `.paramtable` property, or alternatively, view the parameters as a list of dictionaries via the `.paramdicts` property.

In [16]:
ss.paramtable

   VEH_FULL_RANGE  VEH_START_RANGE  LH_FCEV_KMPKGH2
0             120              100               15
1             200              100               15
2             400              100               15
3             800              100               15

In [17]:
ss.paramdicts

[{'VEH_FULL_RANGE': 120, 'VEH_START_RANGE': 100, 'LH_FCEV_KMPKGH2': 15},
 {'VEH_FULL_RANGE': 200, 'VEH_START_RANGE': 100, 'LH_FCEV_KMPKGH2': 15},
 {'VEH_FULL_RANGE': 400, 'VEH_START_RANGE': 100, 'LH_FCEV_KMPKGH2': 15},
 {'VEH_FULL_RANGE': 800, 'VEH_START_RANGE': 100, 'LH_FCEV_KMPKGH2': 15}]

### Run a `LongHaulScenarioSet`

#### Run a scenario set simply by calling its `.run()` method.

In [18]:
ss.run()

Optimize a model with 3544 rows, 75 columns and 10890 nonzeros
Variable types: 0 continuous, 75 integer (75 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [1e+00, 1e+00]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 1e+00]
Found heuristic solution: objective 21.0000000
Presolve removed 3544 rows and 75 columns
Presolve time: 0.00s
Presolve: All rows and columns removed

Explored 0 nodes (0 simplex iterations) in 0.01 seconds
Thread count was 1 (of 8 available processors)

Solution count 2: 19 21

Optimal solution found (tolerance 1.00e-04)
Best objective 1.900000000000e+01, best bound 1.900000000000e+01, gap 0.0000%
Optimize a model with 3544 rows, 75 columns and 17564 nonzeros
Variable types: 0 continuous, 75 integer (75 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [1e+00, 1e+00]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 1e+00]
Found heuristic solution: objective 18.0000000
Presolve removed 3544 rows and 75 columns
Presolve time: 0.00s
Presolve: All rows and columns removed

Explored 0 nodes (0 simplex iterations) in 0.01 seconds
Thread count was 1 (of 8 available processors)

Solution count 2: 16 18

Optimal solution found (tolerance 1.00e-04)
Best objective 1.600000000000e+01, best bound 1.600000000000e+01, gap 0.0000%
Optimize a model with 3544 rows, 75 columns and 30630 nonzeros
Variable types: 0 continuous, 75 integer (75 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [1e+00, 1e+00]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 1e+00]
Found heuristic solution: objective 14.0000000
Presolve removed 3544 rows and 75 columns
Presolve time: 0.01s
Presolve: All rows and columns removed

Explored 0 nodes (0 simplex iterations) in 0.01 seconds
Thread count was 1 (of 8 available processors)

Solution count 2: 13 14

Optimal solution found (tolerance 1.00e-04)
Best objective 1.300000000000e+01, best bound 1.300000000000e+01, gap 0.0000%
Optimize a model with 3544 rows, 75 columns and 39256 nonzeros
Variable types: 0 continuous, 75 integer (75 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [1e+00, 1e+00]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 1e+00]
Found heuristic solution: objective 13.0000000
Presolve removed 3544 rows and 75 columns
Presolve time: 0.01s
Presolve: All rows and columns removed

Explored 0 nodes (0 simplex iterations) in 0.02 seconds
Thread count was 1 (of 8 available processors)

Solution count 2: 12 13

Optimal solution found (tolerance 1.00e-04)
Best objective 1.200000000000e+01, best bound 1.200000000000e+01, gap 0.0000%

#### View statistics each describing a scenario:

In [19]:
ss.stats_by_scenario

,VEH_FULL_RANGE,VEH_START_RANGE,LH_FCEV_KMPKGH2,n_hrs,all_hrs_dispensed_fuel,start_onboard_fuel,end_onboard_fuel
0,120,100,15,19,2.581288e+06,8.975120e+06,7.669782e+06
1,200,100,15,16,7.710401e+06,8.975120e+06,1.279889e+07
2,400,100,15,13,1.506143e+07,8.975120e+06,2.014992e+07
3,800,100,15,12,3.275357e+07,8.975120e+06,3.784206e+07

#### View statistics each describing one refueling locaiton under one scenario:

In [21]:
ss.stats_by_hrs

,VEH_FULL_RANGE,VEH_START_RANGE,LH_FCEV_KMPKGH2,param_vals,hrs_node_id,dispensed_fuel_kg
0,120,100,15,"(120, 100, 15)",3,4.518900e+03
1,120,100,15,"(120, 100, 15)",6,2.112900e+05
2,120,100,15,"(120, 100, 15)",11,1.856063e+04
3,120,100,15,"(120, 100, 15)",17,2.479990e+05
4,120,100,15,"(120, 100, 15)",18,4.024895e+05
5,120,100,15,"(120, 100, 15)",19,8.465427e+04
6,120,100,15,"(120, 100, 15)",21,5.152740e+04
7,120,100,15,"(120, 100, 15)",22,5.819340e+04
8,120,100,15,"(120, 100, 15)",24,2.451973e+04
9,120,100,15,"(120, 100, 15)",27,5.125027e+04
10,120,100,15,"(120, 100, 15)",33,3.623487e+05
11,120,100,15,"(120, 100, 15)",34,8.210353e+05
12,120,100,15,"(120, 100, 15)",40,1.710610e+04
13,120,100,15,"(120, 100, 15)",44,4.581200e+04
14,120,100,15,"(120, 100, 15)",47,4.126460e+04
15,120,100,15,"(120, 100, 15)",61,1.792813e+04
16,120,100,15,"(120, 100, 15)",65,1.156147e+04
17,120,100,15,"(120, 100, 15)",70,1.039486e+05
18,120,100,15,"(120, 100, 15)",72,5.280267e+03
19,200,100,15,"(200, 100, 15)",4,1.340733e+04
20,200,100,15,"(200, 100, 15)",6,7.162366e+05
21,200,100,15,"(200, 100, 15)",11,1.744647e+04
22,200,100,15,"(200, 100, 15)",17,5.900459e+05
23,200,100,15,"(200, 100, 15)",18,1.103431e+06
24,200,100,15,"(200, 100, 15)",19,1.275839e+05
25,200,100,15,"(200, 100, 15)",24,3.469573e+04
26,200,100,15,"(200, 100, 15)",32,3.086891e+06
27,200,100,15,"(200, 100, 15)",34,1.503235e+06
28,200,100,15,"(200, 100, 15)",40,2.446610e+04
29,200,100,15,"(200, 100, 15)",43,7.906400e+04
30,200,100,15,"(200, 100, 15)",48,7.111780e+04
31,200,100,15,"(200, 100, 15)",61,3.707013e+04
32,200,100,15,"(200, 100, 15)",68,8.721520e+04
33,200,100,15,"(200, 100, 15)",70,2.098998e+05
34,200,100,15,"(200, 100, 15)",72,8.595733e+03
35,400,100,15,"(400, 100, 15)",4,3.238600e+04
36,400,100,15,"(400, 100, 15)",6,1.984106e+06
37,400,100,15,"(400, 100, 15)",12,7.515147e+05
38,400,100,15,"(400, 100, 15)",17,1.451051e+06
39,400,100,15,"(400, 100, 15)",18,2.696081e+06
40,400,100,15,"(400, 100, 15)",19,2.479488e+05
41,400,100,15,"(400, 100, 15)",25,1.135231e+05
42,400,100,15,"(400, 100, 15)",33,1.657567e+06
43,400,100,15,"(400, 100, 15)",34,5.541628e+06
44,400,100,15,"(400, 100, 15)",48,1.145462e+05
45,400,100,15,"(400, 100, 15)",68,1.212099e+05
46,400,100,15,"(400, 100, 15)",70,3.348739e+05
47,400,100,15,"(400, 100, 15)",72,1.499627e+04
48,800,100,15,"(800, 100, 15)",4,6.419933e+04
49,800,100,15,"(800, 100, 15)",6,4.510373e+06
50,800,100,15,"(800, 100, 15)",12,1.648088e+06
51,800,100,15,"(800, 100, 15)",17,3.142538e+06
52,800,100,15,"(800, 100, 15)",18,5.990161e+06
53,800,100,15,"(800, 100, 15)",19,4.571195e+05
54,800,100,15,"(800, 100, 15)",25,2.136154e+05
55,800,100,15,"(800, 100, 15)",27,2.576109e+05
56,800,100,15,"(800, 100, 15)",33,3.507878e+06
57,800,100,15,"(800, 100, 15)",34,1.227089e+07
58,800,100,15,"(800, 100, 15)",70,6.647673e+05
59,800,100,15,"(800, 100, 15)",72,2.632960e+04